<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.glassfish.jersey.archetypes"/>
        <listEntry value="archetypeArtifactId=jersey-quickstart-webapp"/>
        <listEntry value="archetypeVersion=4.0.0-M1"/>
        <listEntry value="groupId=brillio"/>
        <listEntry value="artifactId=OneToMany"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.java.hib"/>
        <listEntry value="outputDirectory=C:\Java Training\Day 16"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Subhash.Rao\AppData\Local\Temp\m2e-archetypeGenerator1903725540945055087"/>
</launchConfiguration>
